<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347855679099-b2rq92i8s6jkl8cm34j0112njtkeas1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347855679099-b2rq92i8s6jkl8cm34j0112njtkeas1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCPjrjae7Mc_BR0PLXb_stCYGWNZ4rseH4</string>
	<key>GCM_SENDER_ID</key>
	<string>347855679099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khoavo.ios.ConfigCI</string>
	<key>PROJECT_ID</key>
	<string>configci-331d9</string>
	<key>STORAGE_BUCKET</key>
	<string>configci-331d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347855679099:ios:de9d555a97394c3e653cde</string>
	<key>DATABASE_URL</key>
	<string>https://configci-331d9.firebaseio.com</string>
</dict>
</plist>